<!-- Register form -->
<div class="register-form">
    <!-- Title -->
    <div class="title">Registration</div>
    <!-- Intro text -->
    <p class="intro"><b>Welcome to Metamoris.</b> To register an account you can
        use our form below. </p>
    <!-- Form fields -->
    <form action="" name="register" id="register" method="post">
        <!-- Email input -->
        <div class="field">
            <input name="email" placeholder="Email" type="email" id="email"
                   required/>
            <span class="entypo-mail icon"></span>
            <span class="slick-tip left">Enter your email</span>
        </div>
        <!-- Password input -->
        <div class="field">
            <input name="password" placeholder="Password" type="password"
                   id="password" required/>
            <span class="entypo-lock icon"></span>
            <span class="slick-tip left">Enter your password</span>
        </div>
        <!-- Password repeat input -->
        <div class="field">
            <input name="password-repeat" placeholder="Password repeat"
                   type="password" id="password-repeat" required/>
            <span class="entypo-lock icon"></span>
            <span class="slick-tip left">Repeat your password</span>
        </div>
        <div class="clrfx mt-20 mb-30 bt"><span class="inner-title">Quick options</span>
        </div>
        <!-- Sliding checkbox 3 -->
        <div class="field">
            <p class="ratings w-75 mr-5"><span
                        class="entypo-paper-plane"></span>Signup for weekly
                newsletter?</p>

            <div class="slide-chk w-20">
                <input type="checkbox" id="newsletter-signup"
                       name="newsletter-signup"/>
                <label for="newsletter-signup"></label>
            </div>
        </div>
        <div class="clrfx mt-10 mb-30 bt"></div>
        <!-- Terms agree button -->
        <div class="w-47 mr-5 mt-5">
            <input type="checkbox" id="terms-agree" name="terms-agree"
                   checked="checked"/>
            <label for="terms-agree" class="tick"><span>I agree with <a
                            href="#terms-popup">Terms &amp;
                        Conditions</a></span></label>
        </div>
        <!-- Send button -->
        <input type="submit" value="Register" class="send" form="register"
               name="send" value="login_confirm.html"
               onclick="window.location='register_complete.html';"/>
    </form>
    <!-- / Form fields -->
</div>
<!-- / Register form -->