<!DOCTYPE html>
<html>
<head>
    <title>Metamoris &mdash; North American /challenger</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta charset="utf-8">
    <meta name="author" content="Roman Kirichik">
    <!--[if IE]>
    <meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>

    <!-- Favicons -->
    <link rel="shortcut icon" href="/challenger/web/lp/images/favicon.png">
    <link rel="apple-touch-icon"
          href="/challenger/web/lp/images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72"
          href="/challenger/web/lp/images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114"
          href="/challenger/web/lp/images/apple-touch-icon-114x114.png">

    <!-- CSS -->
    <link rel="stylesheet" href="/challenger/web/lp/css/bootstrap.min.css">

    <link rel="stylesheet" href="/challenger/web/lp/css/style.css">
    <link rel="stylesheet" href="/challenger/web/lp/css/style-responsive.css">
    <link rel="stylesheet" href="/challenger/web/lp/css/animate.min.css">
    <link rel="stylesheet" href="/challenger/web/lp/css/vertical-style.min.css">
    <link rel="stylesheet" href="/challenger/web/lp/css/owl.carousel.css">
    <link rel="stylesheet" href="/challenger/web/lp/css/magnific-popup.css">
    <link rel="stylesheet" href="/challenger/web/lp/css/challenger-style.css">

</head>

    <body class="appear-animate">
        
        <!-- Page Loader -->        
        <div class="page-loader">
            <div class="loader">Loading...</div>
        </div>
        <!-- End Page Loader -->
        
        <!-- Page Wrap -->
        <div class="page" id="top">
            
            <!-- Home Section -->
            <section class="home-section bg-dark-alfa-90 parallax-2" data-background="/challenger/web/lp/images/full-width-images/section-bg-4.jpg" id="home">
                <div class="js-height-full">
                    
                    <!-- Hero Content -->
                    <div class="home-content container">
                        <div class="home-text">
                            
                            <h1 class="hs-line-8 font-alt mb-50 mb-xs-30">
                                Seeking only those
                            </h1>
                            
                            
                            <h2 class="hs-line-11 font-alt mb-50 mb-xs-30">
                                Who put submission victory before everything
                            </h2>
                            
                            <div class="local-scroll">
                                <a href="#about" class="btn btn-mod btn-w btn-medium btn-round hidden-xs">Learn More</a>
                                <span class="hidden-xs">&nbsp;</span>
                                <a href="{{ path('challenger.tabs.createaccount') }}" class="btn btn-mod btn-w btn-medium btn-round lightbox mfp-iframe">Register Now</a>
                            </div>
                            
                        </div>

                    </div>
                    <!-- End Hero Content -->
                    
                    <!-- Scroll Down -->
                    <div class="local-scroll">
                        <a href="#about" class="scroll-down"><i class="fa fa-angle-down scroll-down-icon"></i></a>
                    </div>
                    <!-- End Scroll Down -->
                    
                </div>
            </section>
            <!-- End Home Section -->
            
            <!-- Navigation panel -->
            <nav class="main-nav dark transparent stick-fixed">
                <div class="full-wrapper relative clearfix">
                    <!-- Logo ( * your text or image into link tag *) -->
                    <div class="nav-logo-wrap local-scroll">
                        <a href="#top" class="logo">
                            <img src="/challenger/web/lp/images/logo-white.png" alt="" />
                        </a>
                    </div>
                    <div class="mobile-nav">
                        <i class="fa fa-bars"></i>
                    </div>
                    <!-- Main Menu -->
                    <div class="inner-nav desktop-nav">
                        <ul class="clearlist scroll-nav local-scroll">
                            <li class="active"><a href="#home">Home</a></li>
                            <li><a href="#about">About</a></li>
                            <li><a href="#how">How it works</a></li>
                            <li><a href="#rules">Rules</a></li>
                            <li><a href="#finals">Finals</a></li>
                          <li><a href="{{ path('challenger.tabs.createaccount') }}" target="_blank">Register</a></li>
                            
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- End Navigation panel -->
            
            
            <!-- About Section -->
            <section class="page-section" id="about" style="padding-top:50px !important; padding-bottom:0px !important;">
                <div class="container relative">
                    
                    <h2 class="section-title font-alt align-left mb-70 mb-sm-40">
                       Our Philosophy
                    </h2>
                    
                    <div class="section-text mb-50 mb-sm-20">
                        <div class="row">
                        
                            <div class="col-md-4">
                                <blockquote>
                                    <p>
                                    To limit the subjective influence of any referee as much as possible and let the submissions decide the victor. 
                                    </p>
                                    <footer>
                                        Metamoris
                                    </footer>
                                </blockquote>
                            </div>
                            
                            <div class="col-md-4 col-sm-6 mb-sm-50 mb-xs-30">
                                As an expansion of the submission-only movement, we are proud to present the Metamoris /challenger League, a professional grappling circuit for submission fighters. Starting in North America in September 2015, the full circuit will spread out to encompass the globe including South America, Europe and Asia in 2016. 

                            </div>
                            
                            <div class="col-md-4 col-sm-6 mb-sm-50 mb-xs-30">
                                All Continental Champions will receive a Metamoris Pro contract. The full circuit will culminate with an International League Championship where the finalists from each continent will clash like nothing before in submission grappling. 

                                Our mission is to provide the platform for the world’s top submission grapplers to gain exposure, build a record & rank, and to break through as international grappling contenders. 
                            </div>
                            
                        </div>
                    </div>
                    
                    
                    
                </div>
            </section>
            <!-- End About Section -->

            <!-- Services Section -->
            <section class="page-section" id="how" style="padding-bottom:50px !important; padding-top:50px !important;">
                <div class="container relative">
                    
 <h3 class="font-alt mb-70 mb-sm-40 align-center">How it works</h3>
                    
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs tpl-alt-tabs font-alt pt-30 pt-sm-0 pb-30 pb-sm-0">
                        <li class="active">
                            <a href="#service-branding" data-toggle="tab">
                                
                                <div class="alt-tabs-icon">
                                   <span class="icon icon-register"></span>
                                </div>
                                
                                Register
                            </a>

                            <div class="howtext">Spots are limited to 16 people per weight class per location (no exceptions). Our online registration system is built to work in real time and works on a first come first serve basis.</div>
                        </li>
                        <li class="active">
                            <a href="#service-web-design" data-toggle="tab">
                                
                                <div class="alt-tabs-icon">
                                    <span class="icon icon-qualify"></span>
                                </div>
                                
                                Qualifier
                            </a>
                            <div class="howtext">24 cities across the United States and Canada; open to all advanced no-gi grapplers excluding past and current Metamoris Pro athletes. </div>
                        </li>
                        <li class="active">
                            <a href="#service-graphic" data-toggle="tab">
                                
                                <div class="alt-tabs-icon">
                                    <span class="icon icon-regionals"></span>
                                </div>
                                
                                Regionals
                            </a>
                            <div class="howtext">Those who submit their way through Qualifiers will move on to 8 different regional cities across the United States for a shot at the Finals. </div>
                        </li>
                        <li class="active">
                            <a href="#service-development" data-toggle="tab">
                                
                                <div class="alt-tabs-icon">
                                    <span class="icon icon-finals"></span>
                                </div>
                                
                                Finals
                            </a>
                            <div class="howtext">8 athletes per weight division will clash on a LIVE broadcast from the Metamoris Studios in Los Angeles California.</div>
                        </li>
                        <li class="active">
                            <a href="#service-photography" data-toggle="tab">
                                
                                <div class="alt-tabs-icon">
                                    <span class="icon icon-firstplace"></span>
                                </div>
                                
                                First place
                            </a>
                            <div class="howtext">One champion from each weight class will earn a cash prize, Metamoris Pro contract and a spot in the 2016 International /challenger Championship. </div>
                        </li>
                    </ul>
                    <!-- End Nav tabs -->
         
                    
                </div>
            </section>
            <!-- End Services Section -->
            
            <!-- HOW IT WORKS INFO Section START -->
            <section class="page-section pt-0 pb-0 banner-section bg-dark" data-background="/challenger/web/lp/images/full-width-images/section-bg-2.jpg">

                    
  
            <!-- About Section -->
            <section class="page-section"  style="padding-top:0px !important; padding-bottom:50px !important;">
                <div class="container relative">                    
                    
                    
                    <div class="row">
                        
                        <!-- Team item -->
                        <div class="col-sm-4 mb-xs-30 wow fadeInUp">
                            <div class="team-item">
                                
                                <div class="team-item-image">
                                    
                                    <img src="/challenger/web/lp/images/stage/stage-1.png" alt="" />
                                    
                                    <div class="team-item-detail">
                                        
                                        <h4 class="font-alt normal">Round 1 </h4>
                                        
                                        <p>
                                            This is where we separate the finishers from the point fighters. More than 70% of athletes will be eliminated before reaching the Regionals. Each group of 16 from the qualifiers will produce 4 semi-finalists who will then move forward to the Regionals. 
                                        </p>
                                        
                                        <div class="team-social-links">
                                            <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
                                            <a href="#" target="_blank"><i class="fa fa-twitter"></i></a> 
                                        </div>
                                        
                                    </div>
                                </div>
                                
                                <div class="team-item-descr font-alt">
                                    
                                    <div class="team-item-name">
                                        Round 1
                                    </div>
                                    
                                    <div class="team-item-role">
                                        24 Cities
                                    </div>
                                    
                                </div>
                                
                            </div>
                        </div>
                        <!-- End Team item -->
                        
                        <!-- Team item -->
                        <div class="col-sm-4 mb-xs-30 wow fadeInUp" data-wow-delay="0.1s">
                            <div class="team-item">
                                
                                <div class="team-item-image">
                                    
                                    <img src="/challenger/web/lp/images/stage/stage-2.png" alt="" />
                                    
                                    <div class="team-item-detail">
                                        
                                        <h4 class="font-alt normal">Round 2</h4>
                                        
                                        <p>
                                            The submission specialists who are successful in the qualifying round will advance into 1 of 8 regional events located below. Depending on the city that an athlete originally qualified from, he/she will be automatically assigned to one of the eight regional locations. 
                                        </p>
                                        
                                        <div class="team-social-links">
                                            <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
                                            <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
                                            <a href="#" target="_blank"><i class="fa fa-pinterest"></i></a>
                                        </div>
                                        
                                    </div>
                                </div>
                                
                                <div class="team-item-descr font-alt">
                                    
                                    <div class="team-item-name">
                                        Round 2
                                    </div>
                                    
                                    <div class="team-item-role">
                                        8 Cities
                                    </div>
                                    
                                </div>
                                
                            </div>
                        </div>
                        <!-- End Team item -->
                        
                        <!-- Team item -->
                        <div class="col-sm-4 mb-xs-30 wow fadeInUp" data-wow-delay="0.2s">
                            <div class="team-item">
                                
                                <div class="team-item-image">
                                    
                                    <img src="/challenger/web/lp/images/stage/stage-3.png" alt="" />
                                    
                                    <div class="team-item-detail">
                                        
                                        <h4 class="font-alt normal">Round 3</h4>
                                        
                                        <p>
                                            Those who make it past the Regionals will receive $500 and a spot in the finals for a total of 8 finalists in each division. Those 8 finalists will battle on a live broadcast from the Metamoris Studios. 
                                        </p>
                                        
                                        <div class="team-social-links">
                                            <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
                                            <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
                                            <a href="#" target="_blank"><i class="fa fa-pinterest"></i></a>
                                        </div>
                                        
                                    </div>
                                </div>
                                
                                <div class="team-item-descr font-alt">
                                    
                                    <div class="team-item-name">
                                        Round 3
                                    </div>
                                    
                                    <div class="team-item-role">
                                        Los Angeles, CA
                                    </div>
                                    
                                </div>
                                
                            </div>
                        </div>
                        <!-- End Team item -->
                        
                    </div>
                    
                    
                </div>

            </section>
            <div class="container relative">
                
                <div class="row">
                    
                <div style="margin:0px !important;" class="col-sm-6 banner-image wow fadeInUp" data-wow-duration="1.2s">
                   <img src="/challenger/web/lp/images/weight_classes.png">
                </div>
                    
                    <div style="margin:0px !important;" class="col-sm-6 banner-image wow fadeInUp" data-wow-duration="1.2s">
                       <img src="/challenger/web/lp/images/weight_classes_2.png">
                    </div>
                    
                </div>
            </div>

            </section>
            <!-- End Call Action 1 Section -->  
            <!-- End About Section -->
            <!-- Call Action Section -->
            <section class="page-section pt-0 pb-0 banner-section bg-dark" data-background="/challenger/web/lp/images/full-width-images/section-bg-2.jpg">
                <div class="container relative">
                    
                    <div class="row">
                        
                        <div style="margin-top: -70px !important;" class="col-sm-6">
                            
                            <div class="mt-140 mt-lg-80 mb-140 mb-lg-80">
                                <div class="banner-content wow fadeInLeft">
                                    <img src="/challenger/web/lp/images/stage/group_matches.png">
                                    <br><br>
                                  
                                    <div class="banner-decription">

                                        Each weight class will be separated into groups of 4. Each group will function as a round robin where everyone will face each other.  In any group, the athlete with the most submissions wins. 
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        
                        <div style="margin-top: 30px !important;" class="col-sm-6 banner-image wow fadeInRight" data-wow-duration="1.2s">
                           <img src="/challenger/web/lp/images/stage/matches.png">
                        </div>
                        
                    </div>
                    
                </div>
            </section>
            <!-- End HOW IT WORKS INFO Section END -->
  
            <!-- Alternative Services Section -->
            <section class="page-section" id="rules" style="padding: 60px 0;">
                <div class="container relative">
                    
                    <!-- Section Headings -->
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2 align-center">
                            
                            <h3 class="font-alt mb-30 mb-sm-40">Rules and Information</h3>
                            
                            <div style="margin-bottom:30px;" class="section-text mb-80 mb-xs-40">
                                The North American /challenger is limited to 16 spots per weight division per location (24 cities). 

                            </div>
                                                     
                        </div>
                    </div>
                    <!-- End Section Headings -->
                    
                    <!-- Service Grid -->
                    <div class="alt-service-grid">
                        <div class="row">
                            
                            
                            <div class="col-sm-6 col-md-3 col-lg-3">
                                
                                <!-- Alt Service Item -->
                                <div class="alt-service-wrap">                                
                                    <div class="alt-service-item">
                                        <div class="alt-service-icon">
                                            <i class="fa fa-sitemap"></i>
                                        </div>
                                        <h3 class="alt-services-title font-alt">Round Robin</h3>
                                        Each weight class will be separated into groups of 4. 
                                        Each group will function as a round robin where everyone will face each other.
                                        In any group, the athlete with the most submissions wins. 
                                    </div>
                                    
                                </div>
                                <!-- End Service Item -->
                                
                                <!-- Alt Service Item -->
                                <div class="alt-service-wrap">
                                    <div class="alt-service-item">
                                        <div class="alt-service-icon">
                                            <i class="fa fa-random"></i>
                                        </div>
                                        <h3 class="alt-services-title font-alt">Tiebreaker</h3>
                                        In the case of a tiebreaker, the athlete with the fastest submission from that group will move forward. 
                                    </div>
                                    
                                    
                                </div>
                                <!-- End Service Item -->
                                
                                <!-- Alt Service Item -->
                                <div class="alt-service-wrap">
                                    <div class="alt-service-item">
                                        <div class="alt-service-icon">
                                            <i class="fa fa-share-alt"></i>
                                        </div>
                                        <h3 class="alt-services-title font-alt">Draws / Elimination</h3>
                                        If every athlete in an entire group draws every match then no one moves forward.
                                        For semi-final groups. The athlete with tthe fastest submission of that day advances.
                                    </div>
                                    
                                    
                                </div>
                                <!-- End Service Item -->
                                
                                <!-- Alt Service Item -->
                                <div class="alt-service-wrap">
                                    <div class="alt-service-item">
                                        <div class="alt-service-icon">
                                            <i class="fa fa-university"></i>
                                        </div>
                                        <h3 class="alt-services-title font-alt">King of the hill</h3>
                                        If an athlete has already beaten another athlete who he/she is tied with for total number of submissions, the athlete with the victory over the other will move on.
                                    </div>
                                    
                                </div>
                                <!-- End Service Item -->
                                
                            </div>
                            
                            
                            <div class="col-md-6 col-lg-6 hidden-xs hidden-sm">
                                
                                <div class="alt-services-image">
                                    <img src="/challenger/web/lp/images/promo-2.png" alt="" />
                                    <div class="local-scroll">
                                        <a href="#round1"
                                           class="btn btn-mod btn-w2 btn-medium btn-round hidden-xs" style="">
                                           Learn More</a>
                                        <span class="hidden-xs">&nbsp;</span>
                                        <a href="http://metamoris.com/challenger/web/downloads/Metamoris_challenger_Info.pdf"
                                           class="btn btn-mod btn-w2 btn-medium btn-round" download>Download PDF</a>
                                    </div>
                                </div>
                                
                            </div>
                            
                            
                            <div class="col-sm-6 col-md-3 col-lg-3">
                                
                                <!-- Alt Service Item -->
                                <div class="alt-service-wrap">
                                    <div class="alt-service-item">
                                        <div class="alt-service-icon">
                                            <i class="fa fa-question"></i>
                                        </div>
                                        <h3 class="alt-services-title font-alt">How do I register</h3>
                                        The North American /challenger is limited to 16 spots per weight division per location (24 cities).  They will go fast and not be available for another year. 
                                    </div>
                                    
                                </div>
                                <!-- End Service Item -->
                                
                                <!-- Alt Service Item -->
                                <div class="alt-service-wrap">
                                    <div class="alt-service-item">
                                        <div class="alt-service-icon">
                                            <i class="fa fa-users"></i>
                                        </div>
                                        <h3 class="alt-services-title font-alt">Who can enter?</h3>
                                        Any advanced grapplers above 18 years of age. Brown to Black Belts or similar for non-belt grappling arts.     
                                        *All past/current Metamoris       
                                          Pro athletes are excluded  
                                          from the /challenger League


                                    </div>
                                    
                                    
                                </div>
                                <!-- End Service Item -->
                                
                                <!-- Alt Service Item -->
                                <div class="alt-service-wrap">
                                    <div class="alt-service-item">
                                        <div class="alt-service-icon">
                                            <i class="fa fa-clock-o"></i>
                                        </div>
                                        <h3 class="alt-services-title font-alt">Be on time</h3>
                                        Your weight class will be assigned a time. You should be there 30 minutes before your division starts. If you fail to be on time for your division you will be immediately disqualified. 
                                    </div>
                                    
                                    
                                </div>
                                <!-- End Service Item -->
                                
                                <!-- Alt Service Item -->
                                <div class="alt-service-wrap">
                                    <div class="alt-service-item">
                                        <div class="alt-service-icon">
                                            <i class="fa fa-video-camera"></i>
                                        </div>
                                        <h3 class="alt-services-title font-alt">How can I watch?</h3>
                                        Every match of every event will be available for viewing through Metamoris All Access. 
                                    </div>
                                    
                                    
                                </div>
                                <!-- End Service Item -->
                                
                            </div>
                            
                            
                        </div>
                    </div>
                    <!-- End Service Grid -->
                    
                </div>
            </section>
            <!-- End Alternative Services Section -->            
            
                        <!-- Call Action Section -->
            <section id="round1" class="page-section pt-0 pb-0 banner-section bg-dark" data-background="/challenger/web/lp/images/full-width-images/section-bg-2.jpg">
                <div class="container relative">
                    
                    <div class="row">
                          <div class="wow fadeInRight"style="margin-top:50px;"><img src="/challenger/web/lp/images/round/round_1.png"></div>

                          <div class="wow fadeInLeft"><img src="/challenger/web/lp/images/round/round_1_info.png"></div>
                          <div class="wow fadeInLeft" style="margin-top:10px;"><img src="/challenger/web/lp/images/round/round_2.png"></div>
                          <div class="wow fadeInRight" style="margin-top:10px;"><img src="/challenger/web/lp/images/round/round_2_info.png"></div>
                          <div id="finals" class="wow fadeInLeft" style="margin-top:0px;"><img src="/challenger/web/lp/images/round/round_3.png"></div>
                      
                            <div style="margin-top:0px !important;" class="col-sm-4">
                                <img src="/challenger/web/lp/images/round/round_3_info_1.png">
                                <div class="finaltext"><p>
                                 Those who make it past the Regionals will receive $500 and a spot in the finals
                                 for a total of 8 finalists in each division. Those 8 finalists will battle on a 
                                 live broadcast from the Metamoris Studios. 
                                 </p></div>
                            </div>
                                                  
                            <div style="margin-top:0px !important;" class="col-sm-4">
                                <img src="/challenger/web/lp/images/round/round_3_info_2.png">
                                <div class="finaltext"><p>
                                 Nothing beats a Metamoris Event. Except another Metamoris event. Tune in to watch 48 finalists duel it out in 6 weight divisions to create 6 North American /challenger Series champions. 
                                 </p></div>
                            </div>
                                                  
                            <div style="margin-top:0px !important;" class="col-sm-4">
                                <img src="/challenger/web/lp/images/round/round_3_info_3.png">
                                <div class="finaltext"><p>
                                 One champion from each division will earn a cash prize in addition to an all expenses paid spot in the first ever Metamoris International /challenger event in 2016. 
                                 </p></div>
                            </div>
                            <div class="wow fadeInUp" style="margin-top:10px;"><img src="/challenger/web/lp/images/round/round_3_info_bracket.png"></div>
                            <div class="wow fadeInUp" style="margin-top:10px;"><img src="/challenger/web/lp/images/round/round_3_info_prizes.png"></div>
                        </div>
                            
                        </div>
                        
                        
                    </div>
                    
                </div>
            </section>
                      <!-- Call Action Section -->
            <section class="small-section bg-dark">
                <div class="container relative">
                    
                    <div class="align-center">
                        <h3 class="banner-heading font-alt">Got what it takes?</h3>
                        <div class="local-scroll">
                            <a href="{{ path('challenger.tabs.createaccount') }}" target="_blank"class="btn btn-mod btn-w btn-medium btn-round">Register Now</a>
                        </div>
                    </div>
                    
                </div>
            </section>
            <!-- End Call Action Section -->     
            
<!-- Foter -->
<footer class="page-section bg-gray-lighter footer pb-60">
    <div class="container">

        <!-- Footer Logo -->
        <div class="local-scroll mb-30 wow fadeInUp" data-wow-duration="1.2s">
            <a href="#top"><img src="/challenger/web/lp/images/logo-footer.png"
                                width="78" height="36" alt=""/></a>
        </div>
        <!-- End Footer Logo -->

        <!-- Social Links -->
        <div class="footer-social-links mb-110 mb-xs-60">
            <a href="https://www.facebook.com/metamoris" title="Facebook"
               target="_blank"><i class="fa fa-facebook"></i></a>
            <a href="https://twitter.com/metamorispro" title="Twitter"
               target="_blank"><i class="fa fa-twitter"></i></a>
            <a href="https://instagram.com/metamoris" title="Instragram"
               target="_blank"><i class="fa fa-instagram"></i></a>
        </div>
        <!-- End Social Links -->

        <!-- Footer Text -->
        <div class="footer-text">

            <!-- Copyright -->
            <div class="footer-copy font-alt">
                <a href="http://metamoris.com" target="_blank">&copy; Metamoris
                    International Inc 2015</a>.
            </div>
            <!-- End Copyright -->

            <div class="footer-made">
                Seeking only those who put submission victory before everything.
            </div>

        </div>
        <!-- End Footer Text -->

    </div>


    <!-- Top Link -->
    <div class="local-scroll">
        <a href="#top" class="link-to-top"><i class="fa fa-caret-up"></i></a>
    </div>
    <!-- End Top Link -->

</footer>
<!-- End Foter -->


</div>
<!-- End Page Wrap -->


<!-- JS -->
<script type="text/javascript"
        src="/challenger/web/lp/js/jquery-1.11.2.min.js"></script>
<script type="text/javascript"
        src="/challenger/web/lp/js/jquery.easing.1.3.js"></script>
<script type="text/javascript"
        src="/challenger/web/lp/js/bootstrap.min.js"></script>
<script type="text/javascript"
        src="/challenger/web/lp/js/SmoothScroll.js"></script>
<script type="text/javascript"
        src="/challenger/web/lp/js/jquery.scrollTo.min.js"></script>
<script type="text/javascript"
        src="/challenger/web/lp/js/jquery.localScroll.min.js"></script>
<script type="text/javascript"
        src="/challenger/web/lp/js/jquery.viewport.mini.js"></script>
<script type="text/javascript"
        src="/challenger/web/lp/js/jquery.countTo.js"></script>
<script type="text/javascript"
        src="/challenger/web/lp/js/jquery.appear.js"></script>
<script type="text/javascript"
        src="/challenger/web/lp/js/jquery.sticky.js"></script>
<script type="text/javascript"
        src="/challenger/web/lp/js/jquery.parallax-1.1.3.js"></script>
<script type="text/javascript"
        src="/challenger/web/lp/js/jquery.fitvids.js"></script>
<script type="text/javascript"
        src="/challenger/web/lp/js/owl.carousel.min.js"></script>
<script type="text/javascript"
        src="/challenger/web/lp/js/isotope.pkgd.min.js"></script>
<script type="text/javascript"
        src="/challenger/web/lp/js/imagesloaded.pkgd.min.js"></script>
<script type="text/javascript"
        src="/challenger/web/lp/js/jquery.magnific-popup.min.js"></script>
<script type="text/javascript"
        src="http://maps.google.com/maps/api/js?sensor=false&amp;language=en"></script>
<script type="text/javascript"
        src="/challenger/web/lp/js/gmap3.min.js"></script>
<script type="text/javascript" src="/challenger/web/lp/js/wow.min.js"></script>
<script type="text/javascript"
        src="/challenger/web/lp/js/masonry.pkgd.min.js"></script>
<script type="text/javascript"
        src="/challenger/web/lp/js/jquery.simple-text-rotator.min.js"></script>
<script type="text/javascript" src="/challenger/web/lp/js/all.js"></script>
<script type="text/javascript"
        src="/challenger/web/lp/js/contact-form.js"></script>
<script type="text/javascript"
        src="/challenger/web/lp/js/jquery.ajaxchimp.min.js"></script>
<!--[if lt IE 10]>
<script type="text/javascript"
        src="/challenger/web/lp/js/placeholder.js"></script><![endif]-->

</body>
</html>
