
<!DOCTYPE html>
    <head>

    <title>{% block title 'Welcome' %} - Challenger - Metamoris</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="description" content="Metamoris Sign up and Registration form"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% block stylesheets %}{% endblock %}
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-XXXXXXXX-X']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script');
            ga.type = 'text/javascript';
            ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(ga, s);
        })();
    </script>

    </head>
    <body>
    <div id="container">
        {% block content %}{% endblock %}
    </div>


    <script type="text/javascript"
            src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
    {% block javascripts %}{% endblock %}

    </body>
</html>

