<!-- Terms and conditions -->
<div id="terms-popup" class="terms-window">
    <a href="#close" class="close-overlay"></a>

    <div>
        <a href="#close" class="close entypo-cancel-circled"></a>

        <div class="title">Terms &amp; Conditions</div>
        <p class="intro"><b>1. Lorem ipsum</b><br/>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
            commodo ligula eget dolor.<br/>
            Aenean massa. Cum sociis natoque penatibus et magnis dis parturient
            montes, nascetur ridiculus mus. Donec quam felis, ultricies nec,
            pellentesque eu, pretium quis, sem.</p>

        <p class="intro"><b>2. Dolor commodo</b><br/>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
            commodo ligula eget dolor. Aenean massa. Cum sociis natoque
            penatibus et magnis dis parturient montes, nascetur ridiculus mus.
            Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.
        </p>

        <p class="intro"><b>3. Sit amet</b><br/>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
            commodo ligula eget dolor.<br/>
            Aenean massa. Cum sociis natoque penatibus et magnis dis parturient
            montes, nascetur ridiculus mus. Donec quam felis, ultricies nec,
            pellentesque eu, pretium quis, sem.</p>
    </div>
</div>
<!-- / Terms and conditions -->